In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [27]:
data = pd.read_csv("../../data/processed/data.csv",
                   dtype = {
                            "expensa_id": "object",
                            "unidad_id": "object",
                            "propietario_id": "object",
                            "inquilino_id": "object",
                            "consorcio_id": "object",
                            "expensa_padre_id": "object",
                            "unidad_prop": "object",
                            "consorcio_id": "object",
                            "usuario_creador_id": "object",
                            "concepto_id": "object",
                            "mes": "object",
                            "anio": "object",
                            "unidad_denominacion":"object",
                            "consorcio_nombre": "object",
                            "version":"object",
                            "concepto_id": "object",
                            "unidad_tipo": "object",
                            "modo_pago": "object",
                            "forma_prorrateo": "object",
                            "tipo_prorrateo": "object",
                            "metodo_pago": "object",                       
                    },
                    parse_dates = ["fecha_vencimiento_1", "fecha_vencimiento_2"])
data.fecha_pago = pd.to_datetime(data.fecha_pago, errors="coerce")
data["fecha_expensa"] = data.anio + '-' + data.mes + '-01'
data.fecha_expensa = pd.to_datetime(data.fecha_expensa)
data["fecha_expensa_anterior"] = data.fecha_expensa - pd.DateOffset(months=1)
data["impago"] = data.fecha_pago.isna()
data["pago_tardio_1"] = (data.fecha_pago > data.fecha_vencimiento_1) & (data.fecha_pago <= data.fecha_vencimiento_2)
data["pago_tardio_2"] = (data.fecha_pago > data.fecha_vencimiento_2)
data["pago_tardio"] = data.pago_tardio_1 | data.pago_tardio_2
data.loc[data.metodo_pago.isna(),"metodo_pago"] = "Impago"

In [3]:
data.shape

(264541, 33)

## Agregado de Tamaño de Consorcio

In [4]:
consorcios_raw = pd.read_csv("../../data/raw/expensas_consorcios.csv",
                         sep = ";",
                         na_values = "NULL",
                         dtype = {
                            "id": "object",
                        })

unidades_raw = pd.read_csv("../../data/raw/expensas_unidades.csv",
                         sep = ";",
                         na_values = "NULL",
                         dtype = {
                            "id": "object",
                            "consorcio_id":"object"
                        })

consorcios = consorcios_raw.loc[consorcios_raw.deleted == 0, ["id"]]
unidades = unidades_raw.loc[unidades_raw.consorcio_id.isin(consorcios.id),:]
unidades = unidades.loc[unidades.deleted == 0,:]
unidades_consorcio = pd.merge(consorcios,
                              unidades,
                              left_on="id",
                              right_on="consorcio_id",
                              suffixes = ("","_unidad"))
unidad_por_consorcio = unidades_consorcio.groupby("consorcio_id").count()["id_unidad"].reset_index()

In [5]:
unidad_por_consorcio["log_tamanio_consorcio"] = np.round(np.log(unidad_por_consorcio.id_unidad))
unidad_por_consorcio.loc[unidad_por_consorcio.log_tamanio_consorcio <=1, "log_tamanio_consorcio"] = 1
unidad_por_consorcio.loc[unidad_por_consorcio.log_tamanio_consorcio >=5, "log_tamanio_consorcio"] = 5
unidad_por_consorcio["tamanio_consorcio"] = unidad_por_consorcio.log_tamanio_consorcio.map(str)
tamanios_consorcios = unidad_por_consorcio[["consorcio_id", "tamanio_consorcio"]]

In [28]:
data = pd.merge(data,
                tamanios_consorcios,
                left_on="consorcio_id",
                right_on="consorcio_id",
                how="left")

In [7]:
data.shape

(264541, 34)

In [8]:
data.columns

Index(['expensa_id', 'unidad_id', 'propietario_id', 'inquilino_id',
       'fecha_vencimiento_1', 'fecha_vencimiento_2', 'monto', 'monto_total',
       'monto_parcial', 'expensa_padre_id', 'int_dia', 'int_mes', 'mes',
       'anio', 'unidad_denominacion', 'unidad_prop', 'consorcio_id',
       'consorcio_nombre', 'version', 'concepto_id', 'unidad_tipo',
       'modo_pago', 'forma_prorrateo', 'tipo_prorrateo', 'fecha_pago',
       'monto_pago', 'metodo_pago', 'fecha_expensa', 'fecha_expensa_anterior',
       'impago', 'pago_tardio_1', 'pago_tardio_2', 'pago_tardio',
       'tamanio_consorcio'],
      dtype='object')

In [9]:
data = data[['expensa_id', 'unidad_id', 'fecha_vencimiento_1', 'fecha_vencimiento_2', 'monto', 'monto_total', 'int_dia', 'int_mes', 'mes', 'unidad_denominacion', 'unidad_prop', 'consorcio_id',
       'consorcio_nombre', 'version', 'fecha_pago', 'metodo_pago', 'fecha_expensa', 'fecha_expensa_anterior',
       'impago', 'pago_tardio_1', 'pago_tardio_2', 'pago_tardio', 'tamanio_consorcio']]

In [10]:
data.isna().sum()

expensa_id                    0
unidad_id                     0
fecha_vencimiento_1           0
fecha_vencimiento_2           0
monto                         0
monto_total                   0
int_dia                       0
int_mes                       0
mes                           0
unidad_denominacion           0
unidad_prop                   0
consorcio_id                  0
consorcio_nombre              0
version                       0
fecha_pago                36500
metodo_pago                   0
fecha_expensa                 0
fecha_expensa_anterior        0
impago                        0
pago_tardio_1                 0
pago_tardio_2                 0
pago_tardio                   0
tamanio_consorcio             0
dtype: int64

## Cantidad de Impagos hasta la fecha

In [11]:
def get_cum_by_unidad(unidad_id):
    data_unidad = data.loc[data.unidad_id == unidad_id, ["unidad_id","fecha_expensa", "impago", "pago_tardio", "pago_tardio_1", "pago_tardio_2"]].sort_values("fecha_expensa")
    data_unidad["cum_impago"] = data_unidad.impago.cumsum()
    data_unidad["cum_pago_tardio"] = data_unidad.pago_tardio.cumsum()
    data_unidad["cum_pago_tardio_1"] = data_unidad.pago_tardio_1.cumsum()
    data_unidad["cum_pago_tardio_2"] = data_unidad.pago_tardio_2.cumsum()
    return data_unidad

In [13]:
dfs = list()
for unidad in data.unidad_id.unique():
    data_unidad = get_cum_by_unidad(unidad)
    dfs.append(data_unidad)

In [14]:
final = pd.concat(dfs)

In [85]:
final.shape

(264541, 10)

In [29]:
data = pd.merge(data,
                final[["unidad_id","fecha_expensa", "cum_impago", "cum_pago_tardio", "cum_pago_tardio_1", "cum_pago_tardio_2"]],
                left_on=["fecha_expensa_anterior","unidad_id"],
                right_on=["fecha_expensa", "unidad_id"],
                how = "left")

,expensa_id,unidad_id,fecha_vencimiento_1,fecha_vencimiento_2,monto,monto_total,int_dia,int_mes,mes,unidad_denominacion,...,impago,pago_tardio_1,pago_tardio_2,pago_tardio,tamanio_consorcio,fecha_expensa_y,cum_impago,cum_pago_tardio,cum_pago_tardio_1,cum_pago_tardio_2
0,2588,135,2014-06-10,2014-06-25,2940.63,122499.07,5.0,10.0,5,2 (B),...,False,False,True,True,4.0,NaT,NaN,NaN,NaN,NaN
1,3372,135,2014-08-10,2014-08-25,3948.45,122499.07,5.0,10.0,7,2 (B),...,False,False,True,True,4.0,NaT,NaN,NaN,NaN,NaN
2,7643,135,2014-11-10,2014-11-25,1669.52,80511.69,5.0,10.0,10,2 (B),...,False,False,False,False,4.0,NaT,NaN,NaN,NaN,NaN
3,8880,135,2014-12-10,2014-12-25,3123.80,148806.68,5.0,10.0,11,2 (B),...,False,False,False,False,4.0,2014-10-01,0.0,2.0,0.0,2.0
4,12923,135,2015-01-10,2015-01-25,2723.84,127312.34,5.0,10.0,12,2 (B),...,False,False,False,False,4.0,2014-11-01,0.0,2.0,0.0,2.0
5,14658,135,2015-02-10,2015-02-25,2379.66,112226.71,5.0,10.0,1,2 (B),...,False,False,False,False,4.0,2014-12-01,0.0,2.0,0.0,2.0
6,16270,135,2015-03-10,2015-03-25,1996.88,94292.58,5.0,10.0,2,2 (B),...,False,True,False,True,4.0,2015-01-01,0.0,2.0,0.0,2.0
7,18947,135,2015-04-10,2015-04-25,2295.75,108096.11,5.0,10.0,3,2 (B),...,False,False,True,True,4.0,2015-02-01,0.0,3.0,1.0,2.0
8,20472,135,2015-05-10,2015-05-25,2060.99,97701.72,5.0,10.0,4,2 (B),...,False,True,False,True,4.0,2015-03-01,0.0,4.0,1.0,3.0
9,22581,135,2015-06-10,2015-06-25,2639.60,123724.35,5.0,10.0,5,2 (B),...,False,False,False,False,4.0,2015-04-01,0.0,5.0,2.0,3.0
10,24330,135,2015-07-10,2015-07-25,2842.94,133655.54,5.0,10.0,6,2 (B),...,False,True,False,True,4.0,2015-05-01,0.0,5.0,2.0,3.0
11,26939,135,2015-08-10,2015-08-25,2797.58,131619.68,5.0,10.0,7,2 (B),...,False,True,False,True,4.0,2015-06-01,0.0,6.0,3.0,3.0
12,28559,135,2015-09-10,2015-09-25,2361.59,111501.18,5.0,10.0,8,2 (B),...,False,False,False,False,4.0,2015-07-01,0.0,7.0,4.0,3.0
13,30491,135,2015-10-10,2015-10-25,2875.74,133611.74,5.0,10.0,9,2 (B),...,False,False,False,False,4.0,2015-08-01,0.0,7.0,4.0,3.0
14,32787,135,2015-11-10,2015-11-25,2653.59,123631.89,5.0,10.0,10,2 (B),...,False,False,False,False,4.0,2015-09-01,0.0,7.0,4.0,3.0
15,34729,135,2015-12-10,2015-12-25,3808.12,161747.05,5.0,10.0,11,2 (B),...,False,False,False,False,4.0,2015-10-01,0.0,7.0,4.0,3.0
16,36392,135,2016-01-10,2016-01-25,3012.16,126746.03,5.0,10.0,12,2 (B),...,False,True,False,True,4.0,2015-11-01,0.0,7.0,4.0,3.0
17,40266,135,2016-02-10,2016-02-25,2770.62,130355.79,5.0,10.0,1,2 (B),...,False,True,False,True,4.0,2015-12-01,0.0,8.0,5.0,3.0
18,44150,135,2016-03-10,2016-03-25,3558.90,153244.08,5.0,10.0,2,2 (B),...,False,False,False,False,4.0,2016-01-01,0.0,9.0,6.0,3.0
19,47652,135,2016-04-10,2016-04-25,3156.02,150895.68,5.0,10.0,3,2 (B),...,False,False,False,False,4.0,2016-02-01,0.0,9.0,6.0,3.0
20,49777,135,2016-05-10,2016-05-25,2696.75,127077.85,5.0,10.0,4,2 (B),...,False,False,False,False,4.0,2016-03-01,0.0,9.0,6.0,3.0
21,54456,135,2016-06-10,2016-06-25,2628.51,126515.77,5.0,10.0,5,2 (B),...,False,False,False,False,4.0,2016-04-01,0.0,9.0,6.0,3.0
22,59223,135,2016-07-10,2016-07-25,4679.04,222493.27,5.0,10.0,6,2 (B),...,False,False,True,True,4.0,2016-05-01,0.0,9.0,6.0,3.0
23,62588,135,2016-08-10,2016-08-25,3256.58,141531.12,5.0,10.0,7,2 (B),...,False,False,False,False,4.0,2016-06-01,0.0,10.0,6.0,4.0
24,69680,135,2016-09-10,2016-09-25,2128.80,130809.92,5.0,10.0,8,2 (B),...,False,False,False,False,4.0,2016-07-01,0.0,10.0,6.0,4.0
25,74206,135,2016-10-10,2016-10-25,2997.07,144103.34,5.0,10.0,9,2 (B),...,False,False,False,False,4.0,2016-08-01,0.0,10.0,6.0,4.0
26,79677,135,2016-11-10,2016-11-25,3230.15,158801.10,5.0,10.0,10,2 (B),...,False,True,False,True,4.0,2016-09-01,0.0,10.0,6.0,4.0
27,84290,135,2016-12-10,2016-12-25,4663.14,204488.56,5.0,10.0,11,2 (B),...,False,False,False,False,4.0,2016-10-01,0.0,11.0,7.0,4.0
28,89224,135,2017-01-10,2017-01-25,4447.41,210524.14,5.0,10.0,12,2 (B),...,False,False,False,False,4.0,2016-11-01,0.0,11.0,7.0,4.0
29,95920,135,2017-02-10,2017-02-25,5634.41,249335.35,5.0,10.0,1,2 (B),...,False,False,False,False,4.0,2016-12-01,0.0,11.0,7.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264866,453390,48744,2019-03-11,2019-03-25,1037.00,115636.83,0.0,4.0,3,7º D,...,False,False,False,False,4.0,NaT,NaN,NaN,NaN,NaN
264867,453392,48745,2019-03-11,2019-03-25,1087.00,115636.83,0.0,4.0,3,7º E,...,False,False,False,False,4.0,NaT,NaN,NaN,NaN,NaN
264868,453394,48746,2019-03-11,2019-03-25,1087.00,115636.83,0.0,4.0,3,7º F,...,True,False,False,False,4.0,NaT,NaN,NaN,NaN,NaN
264869,453398,48748,2019-03-11,2019-03-25,1566.00,115636.83,0.0,4.0,3,7º H,...,True,False,False,False,4.0,NaT,NaN,NaN,NaN,NaN
264870,453404,48751,2019-03-11,2019-03-25,4482.00,115636.83,0.0,4.0,3,8º B,...,False,False,False,False,4.0,NaT,NaN,NaN,NaN,NaN
264871,453402,48750,2019-03-11,2019-03-25,1108.00,115636.83,0.0,4.0,3,8º C,...,True,False,False,False,4.0,NaT,NaN,NaN,NaN,NaN
264872,448986,48677,2019-03-10,2019-03-20,494.00,5000.00,1.0,2.0,3,00-01 Dpto PB 1,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264873,448987,48678,2019-03-10,2019-03-20,577.00,5000.00,1.0,2.0,3,00-02 Dpto PB 2,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264874,448988,48679,2019-03-10,2019-03-20,493.00,5000.00,1.0,2.0,3,00-03 Dpto PB 3,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264875,448989,48680,2019-03-10,2019-03-20,611.00,5000.00,1.0,2.0,3,01-01 Dpto1 P1,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264876,448990,48681,2019-03-10,2019-03-20,573.00,5000.00,1.0,2.0,3,01-02 Dpto2 P1,...,False,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264877,448991,48682,2019-03-10,2019-03-20,575.00,5000.00,1.0,2.0,3,01-03 Dpto3 P1,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264878,448992,48683,2019-03-10,2019-03-20,611.00,5000.00,1.0,2.0,3,02-01 Dpto1 P2,...,False,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264879,448993,48684,2019-03-10,2019-03-20,447.00,5000.00,1.0,2.0,3,02-02 Dpto2 P2,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264880,448994,48685,2019-03-10,2019-03-20,320.00,5000.00,1.0,2.0,3,02-03 Dpto 2 P3,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264881,448995,48686,2019-03-10,2019-03-20,148.00,5000.00,1.0,2.0,3,001- Coch. N1,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264882,448996,48687,2019-03-10,2019-03-20,148.00,5000.00,1.0,2.0,3,02- Coch. N2,...,False,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264883,450486,48690,2019-03-12,2019-03-30,1929.00,17732.85,3.0,6.0,2,"PB ""A""",...,False,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264884,450487,48691,2019-03-12,2019-03-30,1286.00,17732.85,3.0,6.0,2,"PB ""B""",...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264885,450490,48693,2019-03-12,2019-03-30,1378.00,17732.85,3.0,6.0,2,1º B,...,False,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264886,450493,48696,2019-03-12,2019-03-30,1378.00,17732.85,3.0,6.0,2,2º B,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264887,450495,48697,2019-03-12,2019-03-30,1746.00,17732.85,3.0,6.0,2,2º C,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264888,450497,48698,2019-03-12,2019-03-30,1929.00,17732.85,3.0,6.0,2,3º A,...,False,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264889,450498,48699,2019-03-12,2019-03-30,1378.00,17732.85,3.0,6.0,2,3º B,...,False,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264890,449644,48417,2019-03-11,2019-03-18,2622.00,335616.00,2.0,4.0,3,0115,...,True,False,False,False,5.0,NaT,NaN,NaN,NaN,NaN
264891,449645,48461,2019-03-11,2019-03-18,2622.00,335616.00,2.0,4.0,3,0104,...,False,False,False,False,5.0,NaT,NaN,NaN,NaN,NaN
264892,450489,48692,2019-03-12,2019-03-30,1929.00,17732.85,3.0,6.0,2,1º A,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264893,450491,48694,2019-03-12,2019-03-30,1746.00,17732.85,3.0,6.0,2,1º C,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264894,450492,48695,2019-03-12,2019-03-30,1929.00,17732.85,3.0,6.0,2,2º A,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN
264895,450500,48700,2019-03-12,2019-03-30,1746.00,17732.85,3.0,6.0,2,3º C,...,True,False,False,False,2.0,NaT,NaN,NaN,NaN,NaN

In [30]:
data["venc_1_dayofweek"] = data.fecha_vencimiento_1.dt.dayofweek.map(str)
data["venc_1_day"] = data.fecha_vencimiento_1.dt.day
data["venc_2_dayofweek"] = data.fecha_vencimiento_2.dt.dayofweek.map(str)
data["venc_2_day"] = data.fecha_vencimiento_2.dt.day
data["mes_vencimiento"] = data.fecha_vencimiento_1.dt.year.map(str) + '-' + data.fecha_vencimiento_1.dt.month.map(str) + '-01'
data.mes_vencimiento = pd.to_datetime(data.mes_vencimiento)
data["dia_inicio_mes_vencimiento"] = data.mes_vencimiento.dt.dayofweek

In [32]:
data_mes_anterior = data[["fecha_expensa_x", "unidad_id", "venc_1_dayofweek", "venc_1_day", "venc_2_dayofweek", "venc_2_day", "metodo_pago", "impago", "pago_tardio", "pago_tardio_1", "pago_tardio_2", "cum_impago", "cum_pago_tardio", "cum_pago_tardio_1", "cum_pago_tardio_2"]]

In [33]:
data = pd.merge(
    data,
    data_mes_anterior,
    left_on=["fecha_expensa_anterior","unidad_id"],
    right_on=["fecha_expensa_x", "unidad_id"],
    how = "left",
    suffixes = ("","_ant"))

In [34]:
data.to_csv("../../data/processed/data_2.csv", index=False)