In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

# Data Loading

In [157]:
data = pd.read_csv("../../data/processed/data.csv",
                   dtype = {
                            "expensa_id": "object",
                            "unidad_id": "object",
                            "propietario_id": "object",
                            "inquilino_id": "object",
                            "consorcio_id": "object",
                            "expensa_padre_id": "object",
                            "unidad_prop": "object",
                            "consorcio_id": "object",
                            "usuario_creador_id": "object",
                            "concepto_id": "object",
                            "mes": "object",
                            "anio": "object",
                            "unidad_denominacion":"object",
                            "consorcio_nombre": "object",
                            "version":"object",
                            "concepto_id": "object",
                            "unidad_tipo": "object",
                            "modo_pago": "object",
                            "forma_prorrateo": "object",
                            "tipo_prorrateo": "object",
                            "metodo_pago": "object",                       
                    },
                    parse_dates = ["fecha_vencimiento_1", "fecha_vencimiento_2"])
data.fecha_pago = pd.to_datetime(data.fecha_pago, errors="coerce")

In [158]:
data.shape

(264541, 27)

In [159]:
data.dtypes

expensa_id                     object
unidad_id                      object
propietario_id                 object
inquilino_id                   object
fecha_vencimiento_1    datetime64[ns]
fecha_vencimiento_2    datetime64[ns]
monto                         float64
monto_total                   float64
monto_parcial                 float64
expensa_padre_id               object
int_dia                       float64
int_mes                       float64
mes                            object
anio                           object
unidad_denominacion            object
unidad_prop                    object
consorcio_id                   object
consorcio_nombre               object
version                        object
concepto_id                    object
unidad_tipo                    object
modo_pago                      object
forma_prorrateo                object
tipo_prorrateo                 object
fecha_pago             datetime64[ns]
monto_pago                    float64
metodo_pago                    object
dtype: object

# Generate Posible Target Variables

## Impago

In [160]:
data["target"] = (data.fecha_pago.dt.month == data.fecha_vencimiento_1.dt.month) & (data.fecha_pago.dt.year == data.fecha_vencimiento_1.dt.year)

## Paga En el Mes?

In [161]:
data["fecha_expensa"] = data.anio + '-' + data.mes + '-01'
data.fecha_expensa = pd.to_datetime(data.fecha_expensa)
data["fecha_expensa_anterior"] = data.fecha_expensa - pd.DateOffset(months=1)

In [198]:
data

,expensa_id,unidad_id,propietario_id,inquilino_id,fecha_vencimiento_1,fecha_vencimiento_2,monto,monto_total,monto_parcial,expensa_padre_id,...,unidad_tipo,modo_pago,forma_prorrateo,tipo_prorrateo,fecha_pago,monto_pago,metodo_pago,target,fecha_expensa,fecha_expensa_anterior
0,2588,135,181,0,2014-06-10,2014-06-25,2940.63,122499.07,0.0,0,...,4,mes_vencido,normal,detalle,2014-10-23,4116.88,Efectivo,False,2014-05-01,2014-04-01
1,3372,135,181,0,2014-08-10,2014-08-25,3948.45,122499.07,0.0,0,...,4,mes_vencido,normal,detalle,2014-10-23,4738.14,Efectivo,False,2014-07-01,2014-06-01
2,7643,135,181,0,2014-11-10,2014-11-25,1669.52,80511.69,0.0,0,...,4,mes_vencido,normal,detalle,2014-11-07,1729.62,Rapipago,True,2014-10-01,2014-09-01
3,8880,135,181,0,2014-12-10,2014-12-25,3123.80,148806.68,0.0,0,...,4,mes_vencido,normal,detalle,2014-12-10,3236.26,Rapipago,True,2014-11-01,2014-10-01
4,12923,135,181,0,2015-01-10,2015-01-25,2723.84,127312.34,0.0,0,...,4,mes_vencido,normal,detalle,2015-01-09,2821.90,Rapipago,True,2014-12-01,2014-11-01
5,14658,135,181,0,2015-02-10,2015-02-25,2379.66,112226.71,0.0,0,...,4,mes_vencido,normal,detalle,2015-02-09,2465.33,Rapipago,True,2015-01-01,2014-12-01
6,16270,135,181,0,2015-03-10,2015-03-25,1996.88,94292.58,0.0,0,...,4,mes_vencido,normal,detalle,2015-03-11,2172.21,Rapipago,True,2015-02-01,2015-01-01
7,18947,135,181,0,2015-04-10,2015-04-25,2295.75,108096.11,0.0,0,...,4,mes_vencido,normal,detalle,2015-05-22,2747.05,Rapipago,False,2015-03-01,2015-02-01
8,20472,135,181,0,2015-05-10,2015-05-25,2060.99,97701.72,0.0,0,...,4,mes_vencido,normal,detalle,2015-05-22,2241.95,Rapipago,True,2015-04-01,2015-03-01
9,22581,135,181,0,2015-06-10,2015-06-25,2639.60,123724.35,0.0,0,...,4,mes_vencido,normal,detalle,2015-06-09,2734.63,Rapipago,True,2015-05-01,2015-04-01
10,24330,135,181,0,2015-07-10,2015-07-25,2842.94,133655.54,0.0,0,...,4,mes_vencido,normal,detalle,2015-07-23,3092.55,Rapipago,True,2015-06-01,2015-05-01
11,26939,135,181,0,2015-08-10,2015-08-25,2797.58,131619.68,0.0,0,...,4,mes_vencido,normal,detalle,2015-08-11,3043.20,Pago Facil,True,2015-07-01,2015-06-01
12,28559,135,181,0,2015-09-10,2015-09-25,2361.59,111501.18,0.0,0,...,4,mes_vencido,normal,detalle,2015-09-09,2446.61,Rapipago,True,2015-08-01,2015-07-01
13,30491,135,181,0,2015-10-10,2015-10-25,2875.74,133611.74,0.0,0,...,4,mes_vencido,normal,detalle,2015-10-09,2979.27,Pago Facil,True,2015-09-01,2015-08-01
14,32787,135,181,0,2015-11-10,2015-11-25,2653.59,123631.89,0.0,0,...,4,mes_vencido,normal,detalle,2015-11-10,2749.12,Pago Facil,True,2015-10-01,2015-09-01
15,34729,135,181,0,2015-12-10,2015-12-25,3808.12,161747.05,0.0,0,...,4,mes_vencido,normal,detalle,2015-12-10,3945.21,Rapipago,True,2015-11-01,2015-10-01
16,36392,135,181,0,2016-01-10,2016-01-25,3012.16,126746.03,0.0,0,...,4,mes_vencido,normal,detalle,2016-01-12,3276.63,Pago Facil,True,2015-12-01,2015-11-01
17,40266,135,181,0,2016-02-10,2016-02-25,2770.62,130355.79,0.0,0,...,4,mes_vencido,normal,detalle,2016-02-12,3013.88,Pago Facil,True,2016-01-01,2015-12-01
18,44150,135,181,0,2016-03-10,2016-03-25,3558.90,153244.08,0.0,0,...,4,mes_vencido,normal,detalle,2016-03-10,3687.02,Pago Facil,True,2016-02-01,2016-01-01
19,47652,135,181,0,2016-04-10,2016-04-25,3156.02,150895.68,0.0,0,...,4,mes_vencido,normal,detalle,2016-04-08,3269.64,Pago Facil,True,2016-03-01,2016-02-01
20,49777,135,181,0,2016-05-10,2016-05-25,2696.75,127077.85,0.0,0,...,4,mes_vencido,normal,detalle,2016-05-10,2793.83,Pago Facil,True,2016-04-01,2016-03-01
21,54456,135,181,0,2016-06-10,2016-06-25,2628.51,126515.77,0.0,0,...,4,mes_vencido,normal,detalle,2016-06-10,2723.14,Rapipago,True,2016-05-01,2016-04-01
22,59223,135,181,0,2016-07-10,2016-07-25,4679.04,222493.27,0.0,0,...,4,mes_vencido,normal,detalle,2016-09-13,6107.83,Pago Facil,False,2016-06-01,2016-05-01
23,62588,135,181,0,2016-08-10,2016-08-25,3256.58,141531.12,0.0,0,...,4,mes_vencido,normal,detalle,2016-08-10,3373.82,Pago Facil,True,2016-07-01,2016-06-01
24,69680,135,181,0,2016-09-10,2016-09-25,2128.80,130809.92,0.0,0,...,4,mes_vencido,normal,detalle,2016-09-09,2205.44,Rapipago,True,2016-08-01,2016-07-01
25,74206,135,181,0,2016-10-10,2016-10-25,2997.07,144103.34,0.0,0,...,4,mes_vencido,normal,detalle,2016-10-07,3104.96,Pago Facil,True,2016-09-01,2016-08-01
26,79677,135,181,0,2016-11-10,2016-11-25,3230.15,158801.10,0.0,0,...,4,mes_vencido,normal,detalle,2016-11-14,3513.76,Pago Facil,True,2016-10-01,2016-09-01
27,84290,135,181,0,2016-12-10,2016-12-25,4663.14,204488.56,0.0,0,...,4,mes_vencido,normal,detalle,2016-12-05,4831.01,Pago Facil,True,2016-11-01,2016-10-01
28,89224,135,181,0,2017-01-10,2017-01-25,4447.41,210524.14,0.0,0,...,4,mes_vencido,normal,detalle,2017-01-06,4607.52,Pago Facil,True,2016-12-01,2016-11-01
29,95920,135,181,0,2017-02-10,2017-02-25,5634.41,249335.35,0.0,0,...,4,mes_vencido,normal,detalle,2017-02-10,5837.25,Pago Facil,True,2017-01-01,2016-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264511,453390,48744,25979,0,2019-03-11,2019-03-25,1037.00,115636.83,0.0,0,...,4,mes_adelantado,presupuesto,balance,2019-03-09,1037.00,Rapipago,True,2019-03-01,2019-02-01
264512,453392,48745,25980,0,2019-03-11,2019-03-25,1087.00,115636.83,0.0,0,...,4,mes_adelantado,presupuesto,balance,2019-03-09,1087.00,Rapipago,True,2019-03-01,2019-02-01
264513,453394,48746,25981,0,2019-03-11,2019-03-25,1087.00,115636.83,0.0,0,...,4,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264514,453398,48748,25983,0,2019-03-11,2019-03-25,1566.00,115636.83,0.0,0,...,4,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264515,453404,48751,25986,0,2019-03-11,2019-03-25,4482.00,115636.83,0.0,0,...,4,mes_adelantado,presupuesto,balance,2019-03-08,4482.00,Pago Facil,True,2019-03-01,2019-02-01
264516,453402,48750,25985,0,2019-03-11,2019-03-25,1108.00,115636.83,0.0,0,...,4,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264517,448986,48677,21608,0,2019-03-10,2019-03-20,494.00,5000.00,0.0,0,...,4,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264518,448987,48678,21609,0,2019-03-10,2019-03-20,577.00,5000.00,0.0,0,...,4,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264519,448988,48679,21610,0,2019-03-10,2019-03-20,493.00,5000.00,0.0,0,...,4,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264520,448989,48680,21611,0,2019-03-10,2019-03-20,611.00,5000.00,0.0,0,...,4,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264521,448990,48681,21612,0,2019-03-10,2019-03-20,573.00,5000.00,0.0,0,...,4,mes_adelantado,presupuesto,balance,2019-03-08,573.00,Rapipago,True,2019-03-01,2019-02-01
264522,448991,48682,21613,0,2019-03-10,2019-03-20,575.00,5000.00,0.0,0,...,4,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264523,448992,48683,21614,0,2019-03-10,2019-03-20,611.00,5000.00,0.0,0,...,4,mes_adelantado,presupuesto,balance,2019-03-08,611.00,Pago Facil,True,2019-03-01,2019-02-01
264524,448993,48684,21615,0,2019-03-10,2019-03-20,447.00,5000.00,0.0,0,...,4,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264525,448994,48685,21616,0,2019-03-10,2019-03-20,320.00,5000.00,0.0,0,...,4,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264526,448995,48686,21617,0,2019-03-10,2019-03-20,148.00,5000.00,0.0,0,...,6,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264527,448996,48687,21618,0,2019-03-10,2019-03-20,148.00,5000.00,0.0,0,...,6,mes_adelantado,presupuesto,balance,2019-03-08,148.00,Rapipago,True,2019-03-01,2019-02-01
264528,450486,48690,25926,0,2019-03-12,2019-03-30,1929.00,17732.85,1929.0,0,...,4,mes_vencido,presupuesto,balance,2019-03-06,1929.00,Saldo a favor unidad,True,2019-02-01,2019-01-01
264529,450487,48691,25927,0,2019-03-12,2019-03-30,1286.00,17732.85,1000.0,0,...,4,mes_vencido,presupuesto,balance,NaT,NaN,NaN,False,2019-02-01,2019-01-01
264530,450490,48693,25929,0,2019-03-12,2019-03-30,1378.00,17732.85,1378.0,0,...,4,mes_vencido,presupuesto,balance,2019-03-06,1378.00,Saldo a favor unidad,True,2019-02-01,2019-01-01
264531,450493,48696,25932,0,2019-03-12,2019-03-30,1378.00,17732.85,1000.0,0,...,4,mes_vencido,presupuesto,balance,NaT,NaN,NaN,False,2019-02-01,2019-01-01
264532,450495,48697,25933,0,2019-03-12,2019-03-30,1746.00,17732.85,1000.0,0,...,4,mes_vencido,presupuesto,balance,NaT,NaN,NaN,False,2019-02-01,2019-01-01
264533,450497,48698,25934,0,2019-03-12,2019-03-30,1929.00,17732.85,1929.0,0,...,4,mes_vencido,presupuesto,balance,2019-03-06,1929.00,Saldo a favor unidad,True,2019-02-01,2019-01-01
264534,450498,48699,25935,0,2019-03-12,2019-03-30,1378.00,17732.85,1000.0,0,...,4,mes_vencido,presupuesto,balance,2019-03-10,378.00,Link Pagos,True,2019-02-01,2019-01-01
264535,449644,48417,25511,0,2019-03-11,2019-03-18,2622.00,335616.00,0.0,0,...,12,mes_adelantado,presupuesto,balance,NaT,NaN,NaN,False,2019-03-01,2019-02-01
264536,449645,48461,25619,0,2019-03-11,2019-03-18,2622.00,335616.00,0.0,0,...,12,mes_adelantado,presupuesto,balance,2019-03-08,2622.00,Rapipago,True,2019-03-01,2019-02-01
264537,450489,48692,25928,0,2019-03-12,2019-03-30,1929.00,17732.85,0.0,0,...,4,mes_vencido,presupuesto,balance,NaT,NaN,NaN,False,2019-02-01,2019-01-01
264538,450491,48694,25930,0,2019-03-12,2019-03-30,1746.00,17732.85,0.0,0,...,4,mes_vencido,presupuesto,balance,NaT,NaN,NaN,False,2019-02-01,2019-01-01
264539,450492,48695,25931,0,2019-03-12,2019-03-30,1929.00,17732.85,0.0,0,...,4,mes_vencido,presupuesto,balance,NaT,NaN,NaN,False,2019-02-01,2019-01-01
264540,450500,48700,26028,0,2019-03-12,2019-03-30,1746.00,17732.85,0.0,0,...,4,mes_vencido,presupuesto,balance,NaT,NaN,NaN,False,2019-02-01,2019-01-01

In [216]:
def get_historiales(fecha_inicio, fecha_fin, data):
    data_local = data.loc[(data.fecha_expensa >= fecha_inicio) & (data.fecha_expensa <fecha_fin),:]

    #unidades
    pagos_por_unidad = data.groupby("unidad_id").count().reset_index()[["unidad_id","fecha_expensa"]]
    unidades = pagos_por_unidad.loc[pagos_por_unidad.fecha_expensa >= 6, "unidad_id"]
    
    #fechas
    fechas = data_local.fecha_expensa.unique()
    fechas.sort()
    fechas = [fecha[:10] for fecha in list(np.datetime_as_string(fechas))]
    
    #targets
    data_indexed = data_local[["unidad_id", "fecha_expensa", "target"]]
    data_indexed.loc[:,"fecha_expensa"] = data_indexed.fecha_expensa.map(str)
    data_indexed.fecha_expensa = data_indexed.fecha_expensa.map(lambda x: x[:10])
    targets = data_indexed.set_index(["unidad_id","fecha_expensa"]).to_dict()["target"]
    
    #historiales
    historiales = {}
    for unidad in unidades:
        historial = list()
        for fecha in fechas:
            try:
                value = targets[(unidad,fecha)]
            except:
                value = np.nan
            historial.append(value)
        historiales[unidad] = historial
    
    print("cantidad de unidades antes:", len(data.unidad_id.unique()))
    print("cantidad de meses antes:", len(data.fecha_expensa.unique()))
    
    print("cantidad de unidades:", len(unidades))
    print("cantidad meses ahora:", len(fechas))
    
    df = pd.DataFrame.from_dict(historiales, orient="index")
    df.columns = fechas
    
    return df

In [217]:
historiales =  get_historiales("2014-06-01", "2019-01-01", data)

C:\Anaconda3\envs\deeplearning-labs\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\Anaconda3\envs\deeplearning-labs\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

cantidad de unidades antes: 16139
cantidad de meses antes: 63
cantidad de unidades: 11418
cantidad meses ahora: 55

In [223]:
historiales.to_csv('../../data/processed/historiales.csv')