In [1]:
import pandas as pd
import numpy as np
from plotnine import *

%matplotlib inline

In [12]:
data = pd.read_csv("../../data/processed/expensas_full.csv",
                  dtype = {
                                "expensa_id": "object",
                                "unidad_id": "object",
                                "propietario_id": "object",
                                "inquilino_id": "object",
                                "consorcio_id": "object",
                                "consorcio_usa_fondo": "bool",
                                "consorcio_solo_muestra_cat": "bool",
                                "unidad_tipo":"object",
                                "expensa_concepto": "object",
                                "expensa_mes":"object",
                                "expensa_anio":"object",
                                "unidad_propietario":"object",
                                "unidad_inquilino":"object",
                                "expensa_version":"object"
                            })

In [13]:
data.dtypes

consorcio_id                              object
consorcio_fecha_creacion                  object
consorcio_nombre                          object
consorcio_interes_primer_vencimiento     float64
consorcio_interes_segundo_vencimiento    float64
consorcio_modo_pago                       object
consorcio_visibilidad_gasto               object
consorcio_tipo                            object
consorcio_usa_fondo                         bool
consorcio_solo_muestra_cat                  bool
unidad_id                                 object
unidad_denominacion                       object
unidad_metros                            float64
unidad_tipo                               object
unidad_propietario                        object
expensa_id                                object
unidad_inquilino                          object
expensa_primer_vencimiento                object
expensa_segundo_vencimiento               object
expensa_monto                            float64
expensa_monto_total                      float64
expensa_monto_parcial                    float64
expensa_proporcion                       float64
expensa_saldo_utilizado                  float64
expensa_descuento                        float64
expensa_interes_primer_vencimiento       float64
expensa_ineteres_segundo_vencimiento     float64
expensa_mes                               object
expensa_anio                              object
expensa_version                           object
expensa_concepto                          object
pago_fecha                                object
pago_monto                               float64
pago_metodo                               object
dtype: object

In [14]:
data.consorcio_fecha_creacion = pd.to_datetime(data.consorcio_fecha_creacion, errors="coerce")

In [15]:
data["expensa_fecha"] = pd.to_datetime(data.expensa_anio + "-" +data.expensa_mes + '-01')

In [34]:
data.expensa_primer_vencimiento = pd.to_datetime(data.expensa_primer_vencimiento)

In [16]:
data.dtypes

consorcio_id                                     object
consorcio_fecha_creacion                 datetime64[ns]
consorcio_nombre                                 object
consorcio_interes_primer_vencimiento            float64
consorcio_interes_segundo_vencimiento           float64
consorcio_modo_pago                              object
consorcio_visibilidad_gasto                      object
consorcio_tipo                                   object
consorcio_usa_fondo                                bool
consorcio_solo_muestra_cat                         bool
unidad_id                                        object
unidad_denominacion                              object
unidad_metros                                   float64
unidad_tipo                                      object
unidad_propietario                               object
expensa_id                                       object
unidad_inquilino                                 object
expensa_primer_vencimiento                       object
expensa_segundo_vencimiento                      object
expensa_monto                                   float64
expensa_monto_total                             float64
expensa_monto_parcial                           float64
expensa_proporcion                              float64
expensa_saldo_utilizado                         float64
expensa_descuento                               float64
expensa_interes_primer_vencimiento              float64
expensa_ineteres_segundo_vencimiento            float64
expensa_mes                                      object
expensa_anio                                     object
expensa_version                                  object
expensa_concepto                                 object
pago_fecha                                       object
pago_monto                                      float64
pago_metodo                                      object
expensa_fecha                            datetime64[ns]
dtype: object

In [21]:
data = data.loc[~data.consorcio_fecha_creacion.isna(), :]

In [35]:
supuestas_moras_cargadas = data.loc[data.consorcio_fecha_creacion > data.expensa_primer_vencimiento]

In [38]:
supuestas_moras_cargadas.describe()

,consorcio_interes_primer_vencimiento,consorcio_interes_segundo_vencimiento,unidad_metros,expensa_monto,expensa_monto_total,expensa_monto_parcial,expensa_proporcion,expensa_saldo_utilizado,expensa_descuento,expensa_interes_primer_vencimiento,expensa_ineteres_segundo_vencimiento,pago_monto
count,10306.000000,10306.000000,10306.000000,10306.000000,10306.000000,10306.000000,10198.000000,10306.0,10306.0,10306.000000,10306.000000,7821.00000
mean,3.593932,4.825709,3.938623,1309.944494,12206.244874,42.735386,56.502502,0.0,0.0,2.486842,3.814060,944.46658
std,4.315767,2.763142,14.826745,3244.921116,31936.947653,452.004704,56.826052,0.0,0.0,3.501666,2.131883,1495.31526
min,0.000000,0.000000,0.000000,0.000000,0.000000,-714.290000,0.000000,0.0,0.0,0.000000,0.000000,-714.29000
25%,1.500000,3.000000,1.000000,0.000000,968.500000,0.000000,0.000000,0.0,0.0,1.500000,3.000000,0.00000
50%,2.000000,5.000000,1.000000,550.000000,2606.410000,0.000000,100.000000,0.0,0.0,2.000000,3.000000,398.15000
75%,3.000000,6.000000,1.857500,1372.990000,6121.500000,0.000000,100.000000,0.0,0.0,2.000000,6.000000,1363.69000
max,18.180000,15.952400,160.800000,62890.340000,585581.530000,25312.000000,2915.881126,0.0,0.0,18.180000,10.000000,35862.00000

In [36]:
supuestas_moras_cargadas.sort_values(["expensa_proporcion"])[["consorcio_id", "consorcio_nombre", "consorcio_fecha_creacion", "expensa_fecha", "expensa_primer_vencimiento", "expensa_proporcion","expensa_monto", "expensa_monto_total", "expensa_mes", "expensa_anio", "pago_monto"]]

,consorcio_id,consorcio_nombre,consorcio_fecha_creacion,expensa_fecha,expensa_primer_vencimiento,expensa_proporcion,expensa_monto,expensa_monto_total,expensa_mes,expensa_anio,pago_monto
177149,1629,CONSORCIO INARCO 27,2017-07-19 02:17:24,2017-04-01,2017-05-10,0.0,0.00,4094.91,4,2017,0.00
169810,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-06-01,2016-07-10,0.0,0.00,2776.71,6,2016,0.00
169831,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-02-01,2016-03-10,0.0,0.00,2728.65,2,2016,0.00
169832,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-03-01,2016-04-10,0.0,0.00,2687.86,3,2016,0.00
169833,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-04-01,2016-05-10,0.0,0.00,4016.37,4,2016,0.00
169834,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-05-01,2016-06-10,0.0,0.00,3228.35,5,2016,0.00
169835,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-07-01,2016-08-10,0.0,0.00,3398.91,7,2016,0.00
169836,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-08-01,2016-09-10,0.0,0.00,3485.00,8,2016,0.00
169837,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-09-01,2016-10-10,0.0,0.00,4245.73,9,2016,0.00
169838,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-10-01,2016-11-10,0.0,0.00,4457.17,10,2016,0.00
169839,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-12-01,2017-01-10,0.0,0.00,4631.82,12,2016,0.00
169840,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2017-01-01,2017-02-10,0.0,0.00,5151.88,1,2017,0.00
169841,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2017-02-01,2017-03-10,0.0,0.00,6121.50,2,2017,0.00
169809,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-11-01,2016-12-10,0.0,0.00,4494.66,11,2016,0.00
169842,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2017-03-01,2017-04-10,0.0,0.00,6433.17,3,2017,0.00
169844,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2017-05-01,2017-06-10,0.0,0.00,17748.52,5,2017,0.00
169845,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2017-06-01,2017-07-10,0.0,0.00,26292.38,6,2017,0.00
169846,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-11-01,2016-12-10,0.0,0.00,4494.66,11,2016,0.00
169847,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-06-01,2016-07-10,0.0,0.00,2776.71,6,2016,0.00
169868,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-02-01,2016-03-10,0.0,0.00,2728.65,2,2016,0.00
169869,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-03-01,2016-04-10,0.0,0.00,2687.86,3,2016,0.00
169870,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-04-01,2016-05-10,0.0,0.00,4016.37,4,2016,0.00
169871,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-05-01,2016-06-10,0.0,0.00,3228.35,5,2016,0.00
169872,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-07-01,2016-08-10,0.0,0.00,3398.91,7,2016,0.00
169873,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-08-01,2016-09-10,0.0,0.00,3485.00,8,2016,0.00
169874,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-09-01,2016-10-10,0.0,0.00,4245.73,9,2016,0.00
169875,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2016-10-01,2016-11-10,0.0,0.00,4457.17,10,2016,0.00
169843,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2017-04-01,2017-05-10,0.0,0.00,11046.34,4,2017,0.00
169808,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2017-06-01,2017-07-10,0.0,0.00,26292.38,6,2017,0.00
169807,1621,CONSORCIO INARCO 20,2017-07-19 02:00:58,2017-05-01,2017-06-10,0.0,0.00,17748.52,5,2017,0.00
...,...,...,...,...,...,...,...,...,...,...,...
126284,1533,Pontevea,2016-09-10 09:53:49,2016-08-01,2016-08-05,NaN,37.07,0.00,8,2016,41.52
126285,1533,Pontevea,2016-09-10 09:53:49,2016-09-01,2016-09-05,NaN,1098.10,0.00,9,2016,1163.99
126406,1533,Pontevea,2016-09-10 09:53:49,2016-08-01,2016-08-05,NaN,966.74,0.00,8,2016,1023.24
126407,1533,Pontevea,2016-09-10 09:53:49,2016-09-01,2016-09-05,NaN,1113.10,0.00,9,2016,1246.67
126408,1533,Pontevea,2016-09-10 09:53:49,2016-02-01,2016-03-05,NaN,0.00,0.00,2,2016,0.00
126439,1533,Pontevea,2016-09-10 09:53:49,2016-09-01,2016-09-05,NaN,1092.30,0.00,9,2016,1157.84
126500,1533,Pontevea,2016-09-10 09:53:49,2016-02-01,2016-02-05,NaN,4.73,0.00,2,2016,7.00
126501,1533,Pontevea,2016-09-10 09:53:49,2016-09-01,2016-09-05,NaN,1134.90,0.00,9,2016,1202.99
126562,1533,Pontevea,2016-09-10 09:53:49,2016-08-01,2016-08-05,NaN,56.70,0.00,8,2016,63.42
126563,1533,Pontevea,2016-09-10 09:53:49,2016-09-01,2016-09-05,NaN,1115.70,0.00,9,2016,1179.50
126654,1533,Pontevea,2016-09-10 09:53:49,2015-08-01,2015-08-14,NaN,22.41,0.00,8,2015,NaN
126655,1533,Pontevea,2016-09-10 09:53:49,2015-09-01,2015-09-14,NaN,14.22,0.00,9,2015,NaN
126656,1533,Pontevea,2016-09-10 09:53:49,2015-10-01,2015-10-14,NaN,874.20,0.00,10,2015,NaN
126657,1533,Pontevea,2016-09-10 09:53:49,2015-11-01,2015-11-14,NaN,672.60,0.00,11,2015,NaN
126658,1533,Pontevea,2016-09-10 09:53:49,2015-02-01,2015-02-14,NaN,882.20,0.00,2,2015,NaN
126659,1533,Pontevea,2016-09-10 09:53:49,2016-01-01,2016-01-14,NaN,875.20,0.00,1,2016,NaN
126660,1533,Pontevea,2016-09-10 09:53:49,2016-02-01,2016-02-14,NaN,772.70,0.00,2,2016,NaN
126661,1533,Pontevea,2016-09-10 09:53:49,2016-03-01,2016-03-14,NaN,747.00,0.00,3,2016,NaN
126662,1533,Pontevea,2016-09-10 09:53:49,2016-04-01,2016-04-14,NaN,779.70,0.00,4,2016,NaN
126663,1533,Pontevea,2016-09-10 09:53:49,2016-05-01,2016-05-14,NaN,981.70,0.00,5,2016,NaN
126664,1533,Pontevea,2016-09-10 09:53:49,2016-06-01,2016-06-14,NaN,970.00,0.00,6,2016,NaN
126665,1533,Pontevea,2016-09-10 09:53:49,2016-07-01,2016-07-14,NaN,863.90,0.00,7,2016,NaN
126666,1533,Pontevea,2016-09-10 09:53:49,2016-08-01,2016-08-14,NaN,941.80,0.00,8,2016,NaN
126668,1533,Pontevea,2016-09-10 09:53:49,2015-12-01,2016-01-05,NaN,0.00,0.00,12,2015,0.00
126729,1533,Pontevea,2016-09-10 09:53:49,2016-09-01,2016-09-05,NaN,1115.70,0.00,9,2016,1115.70
137579,1564,Consorcio GALERIA ALTO VALLE,2016-12-27 15:34:37,2016-07-01,2016-08-14,NaN,0.00,0.00,7,2016,0.00
137580,1564,Consorcio GALERIA ALTO VALLE,2016-12-27 15:34:37,2016-10-01,2016-11-14,NaN,0.00,0.00,10,2016,0.00
137890,1564,Consorcio GALERIA ALTO VALLE,2016-12-27 15:34:37,2016-07-01,2016-08-14,NaN,0.00,0.00,7,2016,0.00
137891,1564,Consorcio GALERIA ALTO VALLE,2016-12-27 15:34:37,2016-08-01,2016-09-14,NaN,0.00,0.00,8,2016,0.00
137976,1564,Consorcio GALERIA ALTO VALLE,2016-12-27 15:34:37,2016-10-01,2016-11-14,NaN,0.00,0.00,10,2016,0.00

In [39]:
data.loc[data.consorcio_fecha_creacion < data.expensa_primer_vencimiento].describe()

,consorcio_interes_primer_vencimiento,consorcio_interes_segundo_vencimiento,unidad_metros,expensa_monto,expensa_monto_total,expensa_monto_parcial,expensa_proporcion,expensa_saldo_utilizado,expensa_descuento,expensa_interes_primer_vencimiento,expensa_ineteres_segundo_vencimiento,pago_monto
count,266376.000000,266376.000000,266376.000000,266376.000000,2.663760e+05,266374.000000,266055.000000,266376.0,266376.0,266376.000000,266376.000000,229370.000000
mean,3.585034,5.496764,17.168548,1905.930689,2.662893e+05,31.819432,2.988299,0.0,0.0,3.469399,5.366103,1975.944774
std,3.024783,3.149914,257.928729,1941.339207,3.942452e+05,415.856714,9.268773,0.0,0.0,2.956609,3.050997,2567.311209
min,0.000000,0.000000,0.000000,-3091.000000,-4.827630e+03,-3091.000000,-141.583551,0.0,0.0,0.000000,0.000000,-3091.000000
25%,2.000000,4.000000,0.540000,764.895000,5.017781e+04,0.000000,0.401000,0.0,0.0,2.000000,3.750000,810.000000
50%,3.000000,5.000000,1.493000,1500.000000,1.184000e+05,0.000000,1.440082,0.0,0.0,3.000000,5.000000,1578.000000
75%,5.000000,6.000000,3.700000,2539.210000,2.796970e+05,0.000000,3.000000,0.0,0.0,5.000000,6.000000,2624.700000
max,35.000000,35.000000,11111.000000,158025.190000,3.946655e+06,43039.230000,253.846154,0.0,0.0,35.000000,35.000000,484620.000000